$susy: (
  columns: 12,
  gutters: .25,
  math: fluid,
  output: float
);

// A traditional grid setup using the Susy span mixin, the number represents the number of columns
.span-1 {
  @include span(1);
}

.span-2 {
  @include span(2);
}

.span-3 {
  @include span(3);
}

.span-4 {
  @include span(4);
}

.span-5 {
  @include span(5);
}

.span-6 {
  @include span(6);
}

.span-7 {
  @include span(7);
}

.span-8 {
  @include span(8);
}

.span-9 {
  @include span(9);
}

.span-10 {
  @include span(10);
}

.span-11 {
  @include span(11);
}

.span-12 {
  @include span(12);
}

// A class to represent that a column is the last in a row
.last {
  @include last;
}


@include breakpoint(mobileonly) {
  .span-6 {
    float: none;
    width: 100%;
  }
}
